html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
input,
select {
  color: rgba(0, 0, 0, 0.71);
}
.body {
  margin: 5px;
  display: block;
  padding: 5px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 0px 50px #555555;
  border: 1px solid #f0f0f0;
  font-size: 13px;
}
.body .ext-part .part-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
  padding-bottom: 2px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
}
.body .ext-part .part-content {
  display: inline-block;
  padding: 10px 20px;
  border-bottom: 3px solid black;
}
.body .ext-part .part-content .row {
  padding-left: 5px;
  margin-bottom: 10px;
}
.body .ext-part .part-content .help {
  font-size: 11px;
  font-style: italic;
  padding-left: 10px;
  color: #828282;
}
#loader {
  display: none;
  opacity: 0.9;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#loader img {
  margin: 0 auto;
  display: block;
  margin-top: 11%;
}
