html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}
input,
select {
  color: rgba(0, 0, 0, 0.71);
}
.body {
 /* margin: 5px;
  display: block;
  padding: 5px;
  background-color: #e7e7e7;
  border-radius: 5px;
  box-shadow: 0px 0px 50px #555555;
  border: 1px solid #f0f0f0;*/
  font-size: 13px;
  min-width: 400px;
}
.body .ext-part .part-title {
  border-bottom: 2px solid rgba(0, 0, 0, 0.42);
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.body .ext-part .part-title div {
    display: flex;
  align-items: center;
}
.body .ext-part .part-content {
  padding: 10px 20px;
  /*border-bottom: 3px solid black;*/
}
.body .ext-part .part-content .row {
  padding-left: 5px;
  margin-bottom: 10px;
}
.body .ext-part .part-content .help {
  font-size: 11px;
  font-style: italic;
  padding-left: 10px;
  color: #828282;
}
#loader {
  display: none;
  opacity: 0.9;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}
#loader img {
  margin: 0 auto;
  display: block;
  margin-top: 11%;
}
.tabs {
  display: flex;
  text-transform: uppercase;
}
.tab-item {
  background: #34708e;
  padding: 10px 0;
  flex: 1;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.tab-item.active {
  background: #0088cc;
  border-bottom: 3px solid #d62929;
}
.main-popup #tempo-token, .main-popup #reportHash, .main-popup #jira-id   {
  display: block;
  width: 350px;
}
.main-popup #reportDate {
  color: rgba(0, 0, 0, 0.71);
  flex: 1;
  margin-right: 20px;
}
/*.main-popup #parseStart {*/
  /*float: right;*/
/*}*/
/*.main-popup #preview {*/
  /*margin-top: 70px;*/
/*}*/
.main-popup #tag-cloud {
  padding-left: 0;
}
.hidden {
  display: none;
}

select, input {
  background: #ffffff;
  border: 1px solid #0088cc;
  border-radius: 3px;
  padding: 4px 10px;
  font-size: 15px;
}

button {
  background: #0088cc;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear ;
  -ms-transition: all 0.3s linear ;
  -o-transition: all 0.3s linear ;
  transition: all 0.3s linear ;
  outline: none;
}

button:hover {
  background: #ffffff;
  color: #0088cc;
  border: 1px solid #0088cc;
}

.cta-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings{
  margin-top: 16px;
}
#save-settings {
  width: 100%;
}

.form-group{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group input {
  flex: 1;
}

.form-group label {
  flex-basis: 20%;
}

.checkbox label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.errors-container {
  padding: 10px;
}

.errors-title {
  font-weight: bold;
  font-size: 18px;
}

.error {
  color: #f00;
}

button.saved {
  background: #358753;
  border: 1px solid #358753;
}

#save-settings:after {
  content: 'save'
}

#save-settings.saved:after {
  content: 'saved';
}

button.saved:hover {
  background: #ffffff;
  color: #358753;
  border: 1px solid #358753 !important;
}

#account-id {
  font-size: 12px;
  font-weight: bold;
  color: #555555;
}

#account-id.is_error {
  color: red
}

#avatar {
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-image {
    max-width: 20px;
}