@import "common";

.main-popup {
  #reportHash {
    display: block;
    width: 350px;
  }
  #reportDate {
    float: left;
    width: 100px;
    padding-left: 5px;
    color: rgba(0, 0, 0, 0.71);

  }
  #parseStart {
    float: right;
  }
  #preview {
    margin-top: 70px;
  }

  #tag-cloud {
    padding-left: 0;
  }
}